:root {
  --primary-color: #4096ee;
  --primary-color-light: #76abe0;
  --primary-color-dark: #0a85f0dc;
  --secondary-color: #38bdf2d8;
  --secondary-color-dark: #1c84adce;
  --accent-color: #f2a516;
  --error-color: #d56161;
  --error-color-dark: #ff2d21;
  --success-color: #8ad94d;
  --success-color-dark: #365c21;
  --text-color: #f5f5f6;
  --dark-color: #444;
  --color-border: #bbb;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

body {
  margin: auto 0;
}
.zone {
  cursor: pointer;
  color: var(--text-color);
  border: 0.5px solid var(--color-border);
  transition: all 0.3s linear;
}
.zone:hover,
.socialContainer button:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
.box:hover {
  transform: rotate(360deg);
}
/*NAV*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.main-nav {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 0.5rem;
    padding: 0;
  }
}
li {
  padding: 1rem;
}
menu li a {
  color: var(--dark-color);
  text-decoration: none;
  padding: 0.5rem 0.7rem;
}
menu li a:hover {
  border-radius: 20px;
  box-shadow: var(--primary-color-dark) 0px 10px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
.push {
  margin-left: auto;
}
/* Cover */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  height: 50vh;
}

.cover {
  width: 20rem;
}
/* Grid */
.grid-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.box > img {
  width: 100%;
}
.box {
  background-color: var(--dark-color);
  padding: 130px;
  margin: 30px;
}
/* Footer */
footer {
  text-align: center;
}
.socialContainer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  align-items: center;
}
.socialContainer button {
  border-radius: 50%;
  padding: 11px;
  margin: 4px 4px;
  border: none;
}
.socialContainer button a > img {
  width: 100%;
}
.socialContainer button:hover {
  background-color: var(--accent-color);
}
/* Green Background */

.green {
  background: linear-gradient(to top, #56b870 0%, #a5c956 100%);
}

/* Red Background */

.red {
  background: linear-gradient(to top, #c655be 0%, #cf0404 100%);
}

/* Blue Backgroun */
.blue {
  background: linear-gradient(to top, #7abcff 30%, #76abe0 64%, #4096ee 90%);
}
/* Yellow Backgroun */
.yellow {
  background: linear-gradient(to top, #f3aaaa 0%, #febf04 100%);
}
